.inputfield {
  color: #7f7f7f;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: canada-type-gibson;
  height: 40px;
  background-color: #f0f0f0;
  border: 2px solid #bfbfbf;
  width: 28rem;
  margin: 5px 5px 5px 5px;
}

.inputfieldtextarea {
  width: 28rem;
  margin: 5px;
  height: 28rem;
}

.submitbtn {
  width: 28rem;
  height: 45px;
  font-size: 2rem;
  margin-top: 3vh;
  background-color: #838de9;
  border-color: #838de9;
  border-radius: 0;
  color: white;
}

.center {
  text-align: center;
}

.card {
  padding: 15px;
  background-color: white;
  box-shadow: 5px 5px 5px 3px grey;
}

.container {
  margin: 0 12% 0 12%;
}

@media (max-width: 1420px) {
  .container {
    margin: 10px 10px;
  }
}

.above {
  z-index: 2;
  float: right;
}
